<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.langhuan.model.mapper.TFileUrlMapper">

    <resultMap id="BaseResultMap" type="com.langhuan.model.domain.TFileUrl">
            <id property="id" column="id" />
            <result property="fileId" column="file_id" />
            <result property="fUrl" column="f_url" />
            <result property="fStatus" column="f_status" />
    </resultMap>

    <sql id="Base_Column_List">
        id,file_id,f_url,f_status
    </sql>
</mapper>
