HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/logs/
/langhuan-service/logs/
/node_modules/
langhuan-web/node_modules
langhuan-web/node_modules/*
.DS_Store
postgres-data/*
postgres-data
langhuan_docker_dist/langhuan-service/langhuan-service-0.0.1-SNAPSHOT.jar
langhuan_docker_dist/langhuan-web/langhuan
langhuan_docker_dist/sql


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
langhuan-web/types/components.d.ts
