
networks:
  langhuan-net:
    driver: bridge

services:
  web:
    build: ./langhuan-web
    ports:
      - "9088:9088"
    networks:
      - langhuan-net
    depends_on:
      - app

  app:
    build: ./langhuan-service
    ports:
      - "9077:9077"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres?serverTimezone=Asia/Shanghai&useTimezone=true
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    networks:
      - langhuan-net

  db:
    image: pgvector/pgvector:pg17
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
    networks:
      - langhuan-net
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio-data:/data
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123456
    command: server /data --console-address ":9001"
    networks:
      - langhuan-net
