.el-table {
    .warning-row {
        --el-table-tr-bg-color: var(--el-color-warning-light-9);
    }

    .success-row {
        --el-table-tr-bg-color: var(--el-color-success-light-9);
    }
    .el-table__body-wrapper {
        .el-scrollbar {
            .el-scrollbar__wrap {
                height: 100% !important;
                max-height: 100% !important;
            }
        }
    }
}
.el-dialog__header {
    .el-dialog__headerbtn {
        background-color: #ffffff !important;
    }
}
.el-message-box {
    .el-message-box__headerbtn {
        background-color: #ffffff !important;
    }
}
.el-menu--horizontal.el-menu {
    border-bottom: none;
}
