<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuangqi.aiagent7.model.mapper.TToolMapper">

    <resultMap id="BaseResultMap" type="com.shuangqi.aiagent7.model.domain.TTool">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="toolName" column="tool_name" jdbcType="VARCHAR"/>
            <result property="toolType" column="tool_type" jdbcType="VARCHAR"/>
            <result property="toolDesc" column="tool_desc" jdbcType="VARCHAR"/>
            <result property="toolGroupId" column="tool_group_id" jdbcType="VARCHAR"/>
            <result property="toolBy" column="tool_by" jdbcType="VARCHAR"/>
            <result property="toolAt" column="tool_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tool_name,tool_type,
        tool_desc,tool_group_id,tool_by,
        tool_at
    </sql>
</mapper>
